@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: url('../static/fonts/Lato-Bold.ttf');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	src: url('../static/fonts/Lato-Light.ttf');
}


@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: url('../static/fonts/Lato-Regular.ttf');
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 100;
	src: url('../static/fonts/Lato-Hairline.ttf');
}


@font-face {
  font-family: 'AveBetwan';
  font-style: normal;
  font-weight: 400;
  src: url('../static/fonts/AveBetwan.ttf');
}
