@import './variables.css';
@import './fonts.css';

/**
{
  outline: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}
*/

/*input
{
  -webkit-user-select: auto !important;
  -khtml-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important;
}
*/

html {
  background-color: '#f39700';
  color: white;
  font-family: 'Lato';
  font-size: 10px;
  font-weight: 300;
}

body {
  font-size: 1.4em;
  margin: 0;
}

a {
  color: $color-link-text;
  text-decoration: none;
  font-weight: 300;
  display: block;
  text-align: center;
}

h1 {
  font-size: 52px;
  font-weight: 100;
}

h2 {
  font-size: 36px;
  font-weight: 100;
}

h3 {
  font-size: 24px;
  font-weight: 300;
}

button {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  color: white;
  background-color: #85d9bf;
  height: 57px;
  border: none;
  width: 100%;
  cursor: pointer;

  &:focus {
    outline: 0;
  }

  &:disabled {
    background-color: #a4f3dd;
  };
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  padding: 0;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
