$color-primary: #666;
$color-link-text: white;
$color-text: white;
$color-menu: #a4f3dd;
$text-grey-light: #cccccc;
$text-grey: #666666;
$text-grey-dark: #666666;

$mint-green-dark: #77c3ac;
$mint-green: #85d9bf;
$mint-green-light: #a4f3dd;

$orange-dark: #d9984c;
$orange: #ffb359;
$orange-light: #ffce94;

$green-dark: #69ad64;
$green: #7bcb75;
$green-light: #93d78e;

$red-dark: #d58a85;
$red: #ff887f;
$red-light: #ffada7;

$black: #232323;

$grey: #f0f0f0;
