.offcanvas-push-menu-outer {
  height: 100%;
  width: 100%;
}

.offcanvas-push-menu {
  height: 100%;
  position: absolute;
  z-index: -1;
}

.offcanvas-push-menu-inner {
  height: 100%;
  width: 100%;
}

.offcanvas-push-menu-children {
  height: 100%;
  width: 100%;
}
